name: Auto Terraform Destroy

permissions:
  contents: read
  
on:
  schedule:
    - cron: "0 20 * * *"    # run every day at 20:00 UTC
  push:
    branches:
      - master

jobs:
  destroy:
    if: |
      github.event_name == 'schedule' ||
      (github.event_name == 'push' && contains(github.event.head_commit.message, '[CLEANUP]'))

    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.11.0

      - id: "auth"
        name: "Authenticate to Google Cloud"
        uses: google-github-actions/auth@v1
        with:
          token_format: access_token
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER_NAME }}
          service_account: ${{ secrets.GCP_WORKLOAD_IDENTITY_SA_EMAIL }}

      - name: Init Terraform
        run: terraform init -backend-config=env/backend.tfvars

      - name: Terraform Destroy
        run: terraform destroy -auto-approve -var-file env/project.tfvars
